body {
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    width: 50%;
}

.menu {
    float: left;
    padding: 0px 50px 0px 0px;
    background-color:Menu;
    border-radius: 15px 15px 15px 15px;
}

.logout {
    float:right;

    margin:0px 0px 50px 0px;
    height: auto;
    width: 100px;
    background-color:transparent;
    padding: 5px;
    text-align:right
}

.PageContent {
    float: left;
    padding: 0px 0 0px 50px;
}

.buttonStyle {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 18px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius:10px;

}

.buttonStyle:hover {
        color: #ffffff !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        border-radius:10px;
    }

.textBoxStyle{
    border-radius:3px;
}

.LableStyle {
   padding:0px 0px 0px 0px;
}