body {
}
.ValidationError {
    color: #D8000C;
    background-color: #FFBABA;
    /*background-image: url('https://i.imgur.com/GnyDvKN.png');*/
    height:10px;
    background-repeat:no-repeat;
    font-size:x-large
}
